{% extends 'base.html' %}

{% block title %}Career Closet | Invite User{% endblock %}

{% block content %}
    <h2>Invite User</h2>
    <form action="/auth/access/invite/" method="post">
        {% csrf_token %}
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        
        <label for="role">Role:</label>
        <select id="role" name="role" required>
            <option value="admin">Admin</option>
            <option value="user">Staff</option>
            <option value="user">Student Employee</option>
        </select>
        
        <label for="expDate">Account Expiration Date:</label>
        <input type="date" id="expDate" name="expDate" required>
        
        <button type="submit" class="btn-primary btn">Invite</button>
    </form>
{% endblock %}