{% extends base_template %}

{% block title %}Career Closet | Invite User{% endblock %}

{% block content %}
    <div class="container">
        <div class="card mt-4">
            <div class="card-body">
                <h2>Create Item</h2>

{#                <div class="alert alert-info" role="alert">#}
{#                    All invitations will expire <strong>7 days</strong> after being created.#}
{#                </div>#}
{##}
                <form action="/inventory/create/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Calvin Klein Suit">
                    </div>
{##}                <div class="form-group">
                        <label for="category">Category</label>
                        <select class="form-select" id="category" name="category">
                            {% for category in categories %}
                                <option value="{{ category.category_id }}">{{ category.category_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="color">Color</label>
                        <select class="form-select" id="color" name="color">
                            {% for color in colors %}
                                <option value="{{ color.color_id }}">{{ color.color_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="size">Size</label>
                        <select class="form-select" id="size" name="size">
                            {% for size in sizes %}
                                <option value="{{ size.size_id }}">{{ size.size_value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="image" class="form-label">Images</label>
                        <input class="form-control" type="file" id="image" name="image" accept="image/png, image/jpeg">
                    </div>
                    <button type="submit" class="btn-primary btn mt-3">Create</button>
                    <button type="button" class="btn-secondary btn mt-3" onclick="window.history.back()">Cancel</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}