/* home.css */
body {
 color: #ffffff;
 background-color: #ffffff;
 margin: 0; 
 padding: 0;
 overflow-x: hidden;
}

@font-face{
 font-family: 'The Seasons';
 src: url('fonts/the_seasons/Fontspring-DEMO-theseasons-lt.otf');
}

@font-face{
 font-family: 'The Seasons Bold';
 src: url('fonts/the_seasons/Fontspring-DEMO-theseasons-bd.otf');
}

@font-face{
 font-family: 'Work Sans';
 src: url('fonts/Work_Sans/WorkSans-VariableFont_wght.ttf');
}

h1 {  
 font-family: 'The Seasons';
 font-size: 80px !important;
 text-transform: uppercase;
 color: #ffffff;
 text-align: left;
}

h2{
 font-family: 'The Seasons';
 font-size: 180px !important;
 text-transform: uppercase;
 color: #323232;
 text-align: left;
}

/* navigation bar */
.navbar {
 background-color: transparent; /* make the navbar transparent */
 border: none;
 position: absolute;            /* position it on top of the page */
 top: 0;
 left: 0;
 right: 0;
 z-index: 10;                   /* ensure it stays on top of other elements */
 padding-top: 20px;             /* make sure the height is large enough */
 font-size: 28px !important;
 line-height: 6px !important;
 border-radius: 30px;
 font-family: 'The Seasons';
}

.navbar-nav {
 flex-direction: row;            /* this ensures the items stay in a row */
}

.navbar-center {
 display: flex;
 justify-content: center;
 align-items: center;            /* this ensures that the nav items are vertically aligned */
 width: 100%;
}

.navbar-nav li a {
 color: #ffffff !important;
 position: relative;
 height: 30px;
 padding-top: 0px;               /* align the text in the center vertically */
 padding-bottom: 0px;
 margin-top: 40px;
 margin-left: 30px;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
 color: #ffde59 !important;
 background-color: #ffffff00 !important;
}

.navbar-default .navbar-toggle {
 border-color: transparent;
 color: #ffffff !important;
}

.navbar-brand img.navbar-logo {
 margin-left: -55px;
 height: 60px;                   /* adjust the height of the logo */
 width: auto;                    /* keeps the aspect ratio */
 display: inline-block;          /* ensures it aligns properly */
 vertical-align: middle;         /* centers it vertically in the navbar */
 margin-top: 10px;               /* adjust this value to move the logo up */
}

.search__container {
 padding-top: 8px; 
 text-align: center;
 margin-right: 40px; 
}

.search__title {
 font-size: 22px;
 font-weight: 900;
 color: #ff8b88;
 display: none; 
}

.search__input {
 width: 200px; 
 padding: 12px 24px;
 background-color: transparent;
 transition: transform 250ms ease-in-out;
 font-size: 14px;
 line-height: 18px;
 color: #ffffff;
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
 background-repeat: no-repeat;
 background-size: 18px 18px;
 background-position: 95% center;
 border-radius: 50px;
 border: 1px solid #ffffff;
 transition: all 250ms ease-in-out;
}

.search__input::placeholder {
 color: #ffffffcc;
 text-transform: uppercase;
 letter-spacing: 1.5px;
}

.search__input:hover,
.search__input:focus {
 padding: 12px 0;
 outline: 0;
 border: 1px solid transparent;
 border-bottom: 1px solid #ffde59;
 border-radius: 0;
 background-position: 100% center;
}

.img-heart {
 width: auto;
 height: 35px;
 display: inline-block;
 transition: transform 0.3s ease;
 margin-left: -25px;               /* add space between heart and bag */
} 

.img-heart:hover {
 transform: scale(1.2);            /* slight zoom on hover */
}

.img-bag {
 width: auto;
 height: 35px;
 display: inline-block;
 transition: transform 0.3s ease;
 margin-left: px;                  /* adjust space between icons */
}

.img-bag:hover {
 transform: scale(1.2); 
}

/* container: home */
.jumbotron {
 padding: 0;                
 background-color: #ffffff; 
 margin: 0;
}

.background-container {
 padding: 0;
 margin: 0;  
 width: 100%;                    /* ensure the image spans the full width */
 height: auto;
 z-index: 0;
}

.blue-container {
 width: 200px;          
 height: auto;          
 padding: 10px;         
 margin: 20px;        
 transform: scaleY(0.97);  
 z-index: 2;
}

.frontwords-container{
 padding: 0;
 margin: 0;  width: 100%;        /* ensure the image spans the full width */
 height: auto;
 z-index: 1;
}

.img-ksucc{
 position: absolute;     
 background: none;       
 border: none;           
 padding: 0;              
 width: auto;            
 height: 30%;           
 top: 25%;
 left: 1%;
 z-index: 10;   
}

.fade-in {
 opacity: 0; 
 transition: opacity 1s ease-in; 
}

.fade-in.visible {
 opacity: 1;
}

.img-whitescrib1{
 position: absolute;     
 background: none;       
 border: none;           
 padding: 0;              
 width: auto;            
 height: 57%;           
 top: 18%;
 left: 2%;
 z-index: 10;  
}

.img-handshake{
 position: absolute;     
 background: none;       
 border: none;           
 padding: 0;              
 width: auto;            
 height: 50%;           
 top: 27%;
 left: 46%;
 z-index: 8;  
}
/* container: one */
#one {
 min-height: 500px;            /* adjust this value to make the container longer */
}

.text-container1{
 position: absolute;
 z-index: 10;
 margin-top: -150px;
 margin-left: 34px;
 width: 1200px;
}

.seasonreg-text1{
 font-family: 'The Season Bold';
 font-size: 70px;
 color: #323232;
}

.seasonitl-text1{
 font-family: 'The Season Bold';
 font-style: italic;
 font-size: 70px;
 color: #323232;
 margin-top: -60px;
}

.seasonnumb-text1{
 font-family: 'The Season Bold';
 font-size: 140px;
 color: #323232;
 margin-top: -50px;
 margin-left: 150px;
}

.dropbtn {
 background-color: #9edcff;
 color: #323232;
 padding: auto;
 font-size: 26px;
 font-weight: 300;
 font-family: 'Work Sans';
 text-align: center;
 display: inline-block;
 width: 400px;
 height: 60px;
 border: 2px solid #323232;
 border-radius: 35px;
 cursor: pointer;
}

.dropdown {                           /* container for the dropdown */
 position: absolute;
 margin-left: 230px;
 margin-top: -170px;
 display: inline-block;
}

.dropdown-content {                  /* dropdown content (hidden by default) */
 display: none;
 position: absolute;
 background-color: #f9f9f900;
 min-width: 400px;
 box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0);
 z-index: 1;
}

.dropdown-content a {                /* links inside the dropdown */
 color: #323232;
 padding: 12px 16px;
 margin-left: 30px;
 font-size: 26px;
 font-weight: 300;
 font-family: 'Work Sans';
 text-align: left;
 display: inline-block;
 text-decoration: none;
 display: block;
}

.dropdown-content .divider {
 height: 1px;
 background-color: #323232;       /* color of the dividing line */
 margin: 0px 0;                     /* spacing around the line */
}

.dropdown:hover .dropdown-content { /* show the dropdown on hover */
 display: block;
}

.dropdown-content a:hover {        /* change color of the dropdown links on hover */
 background-color: #f9ff9f00;
}

.shopbag-img{
 position: absolute;
 margin-top: -200px;
 margin-left: 650px;
 width: 600px;
 z-index: 800;
}

.whitebox-img{
 position: absolute;
 z-index: -90;
 margin-top: -70px;
 margin-left: 34px;
 width: 300px;
 transform: scaleX(6);  
}

.image-container2 {
 margin-bottom: 10px;
 display: flex; 
 padding-left: 50px;
 align-items: center; 
 gap: 25px; 
 position: relative; 
}
/* container: two */
#two {
 min-height: 1000px;                /* adjust container height as necessary */
}

.image-container3 {
 position: relative;
 overflow: hidden;
 margin-top: -250px;               
}

.text-container2{
 position: absolute;
 z-index: 15000;
 margin-top: -650px;
 margin-left: 800px;
 width: 1200px;
}

.seasonreg-text2{
 font-family: 'The Season Bold';
 font-size: 70px;
 color: #323232;
 margin-left: 50px;
}

.seasonitl-text2{
 font-family: 'The Season Bold';
 font-style: italic;
 font-size: 70px;
 color: #323232;
 margin-left: 50px;
 margin-top: -60px;
 position: left;
}

.seasonnumb-text2{
 font-family: 'The Season Bold';
 font-size: 140px;
 color: #323232;
 margin-top: -50px;
 margin-left: 150px;
}

.dropdown-content {
 z-index: 1600;                    /* ensure the dropdown is visible and above other elements */
}

.dropdown-content a:hover {
 background-color: #f9ff9f00;
}

.img-yellowpanel {
 width: 100%;                      /* adjust the size of the marquee image */
 height: 800px;                    /* reduce height to make the image smaller */
 z-index: 900;
 position: relative;
}

.marquee {
 position: absolute;
 top: 0;                           /* pin the marquee to the top of the image */
 width: 100%;                      /* ensure the marquee spans the full width */
 height: 40px;                     /* adjust marquee height to make it smaller */
 overflow: hidden;
 background-color: rgba(255, 255, 255, 0); 
 box-sizing: border-box;
}

.marquee-content {
 display: inline-block;
 white-space: nowrap;
 color: #9edcff;                        
 font-size: 18px;                  /* reduce font size to make the text smaller */
 font-weight: 900 !important;            
 font-family: Arial, sans-serif;        
 animation: marquee 15s linear infinite;  
}

.marquee-text{
 width: 100%;                      /* adjust the size of the marquee image */
 height: 800px;                    /* reduce height to make the image smaller */
 z-index: 900;
 position: relative;
 margin-top: -800px;               /* move the entire yellow marquee section higher */
}

.hanger-img{
 position: relative;
 z-index: 2000;
 margin-top: -510px;
 margin-left: -150px;
 width: 1500px;
}

/* container: three */
#three {
 min-height: 30px;                /* adjust container height as necessary */
}

.image-container4 {
 position: relative;
 overflow: hidden;
 margin-top: 0px;               
}

.text-container3{
 position: absolute;
 z-index: 10;
 margin-top: -2300px;
 margin-left: 150px;
 width: 1200px;
}

.dropdown-content {
 z-index: 1600;                    /* ensure the dropdown is visible and above other elements */
}

.dropdown-content a:hover {
 background-color: #f9ff9f00;
}

.img-checkout{
 position: relative;
 z-index: 1000;
 margin-top: -3500px;
 margin-left: 150px;
 width: 1500px;
}

.img-orangepage{
 position: relative;
 z-index: 2000;
 margin-top: -1500px;
 margin-left: -450px;
 width: 2270px;
}

/* Optional: Adjust the marquee animation speed */
@keyframes marquee {
 0% { transform: translateX(100%); }
 100% { transform: translateX(-100%); }
}


