{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Career Closet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://unpkg.com/htmx.org@2.0.2/dist/htmx.js" integrity="sha384-yZq+5izaUBKcRgFbxgkRYwpHhHHCpp5nseXp0MEQ1A4MTWVMnqkmcuFez8x5qfxr" crossorigin="anonymous"></script>
  </head>
  <body class="login-body">
    <div class="login-container">
      <div>
        <div class="login-header">
          <img src="{% static 'images/ksu-white-logo.png' %}" height="50" />
          <h2 class="login-title">Career Closet</h2>
        </div>
        <div class="card login-form">
          <div class="card-body">
            <h1 class="card-title text-center">404 Not Found</h1>
            <p class="card-text text-center">The requested page no longer exists. It may have been deleted or has moved.</p>
            <div class="text-center">
              <a href="/" class="btn btn-primary">Go to Home</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
