{% extends 'base.html' %}
<body> 

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="/static/home.css"> 
{% block content %}
<!-- jumbotron -->
<div class="jumbotron">
  <div class="background-container">
      <img src="static/images/bluebackground.png" alt="Bubbly Blue Background" style="width: 100%; height: 760px; margin-top: 2px;">
  </div>

  <div class="frontwords-container">
      <img src="static/images/careercloset.png" class="img-ksucc fade-in" alt="Kent State Career Closet">
      <img src="static/images/whitescribble1.png" class="img-whitescrib1" alt="White Pencil Scribble">
      <img src="static/images/handshake.png" class="img-handshake" alt="Two People Shaking Hands">
  </div>
</div>

<!-- one -->
<div id="one" class="container-fluid">
  <div class="image-container2">
    <img src="static/images/hangers.png" alt="Blue Hanger Background" style="width: 100%; height: 760px; margin-top: 2px;">

    <div class="text-container1">
      <div class="seasonreg-text1">
        <p>CHOOSE YOUR OUTFIT</p>
      </div>
      <img src="static/images/whitebox.png" class="whitebox-img" alt="white Background Box">
      <div class="seasonitl-text1">
        <p> Explore our career-ready options</p>
      </div> 
      <div class="seasonnumb-text1">
        <p>1</p>
      </div>
      <div class="dropdown">
        <button class="dropbtn">CHOOSE FROM</button>
        <div class="dropdown-content">
            <a href="#">WOMENS</a>
            <div class="divider"></div>  <!-- divider line -->
            <a href="#">MENS</a>
            <div class="divider"></div>  <!-- divider line -->
        </div>
      </div>
      <img src="static/images/shoppingbags.png" class="shopbag-img" alt="Two Shopping Bags">
    </div>

  </div>
</div>

<!-- two -->
<div id="two" class="container-fluid">
  <div class="image-container3">
    <img src="static/images/yellowmarquee.png" class="img-yellowpanel" alt="Yellow Panel" />
    <img src="static/images/marqueetext.png"   class="marquee-text"    alt="Yellow Panel" />
    <img src="static/images/hanger.png" class="hanger-img" alt="Hanger Image">
  </div>

  <div class="text-container2">
    <div class="seasonreg-text2">
      <p>TRY IT OWN</p>
    </div>
    <div class="seasonitl-text2">
      <p>Find your perfect fit</p>
    </div> 
    <div class="seasonnumb-text2">
      <p>2</p>
    </div>
    <div class="dropdown">
      <button class="dropbtn">TRY IT ON</button>
      <div class="dropdown-content">
          <a href="#">KSU CAREER CLOSET HAS IN PERSON FITTING ROOMS</a>
          <div class="divider"></div>  <!-- divider line -->
      </div>
    </div>
  </div>

</div>

<!-- three -->
<div id="three" class="container-fluid">
  <div class="image-container4">
    <img src="static/images/yellowbackground.png" class="img-yellowbackground" alt="Yellow Background" />
    <img src="static/images/checkout.png"         class="img-checkout"         alt="Check Out Image" />
    <img src="static/images/orangepage.png"       class="img-orangepage"       alt="Orange Page Image" />
  </div>
</div>

<div class="text-container3">
  <div class="seasonreg-text1">
    <p>STEP INTO SUCCESS !</p>
  </div>
  <div class="seasonitl-text1">
    <p>Leave confident and prepared for</p>
    <p>your next opportunity</p>
  </div> 
  <div class="seasonnumb-text1">
    <p>3</p>
  </div>
  <div class="dropdown">
    <button class="dropbtn">PICK IT UP</button>
    <div class="dropdown-content">
        <a href="#">GET AN ORDER NUMBER</a>
        <div class="divider"></div>  <!-- divider line -->
        <a href="#">PICK UP AT KSU CAREER CLOSET</a>
        <div class="divider"></div>  <!-- divider line -->
    </div>
  </div>
</div>
<!-- Include the JavaScript file -->
<script src="/static/home.js"></script>
{% endblock %}

</body>
</html>
